includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 5
    paths:
        - ../../app
    bootstrapFiles:
        - bootstrap.php
    tmpDir: cache
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 1
