parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/ManagerDashboardController.php

		-
			message: '#^Instanceof between string and BackedEnum will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Http/Controllers/TasksController.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 1
			path: app/Http/Controllers/TeamManagementController.php

		-
			message: '#^Parameter \$deadline of class App\\ValueObjects\\TaskDeadlineGeneration constructor expects Illuminate\\Support\\Carbon, Carbon\\Carbon given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Task.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Notifications/TaskReviewWorkflowNotification.php

		-
			message: '#^Property App\\Services\\ProjectManagerReplacementService\:\:\$reviewers is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Services/ProjectManagerReplacementService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/ProjectManagerReplacementService.php

		-
			message: '#^Instanceof between Carbon\\Carbon and DateTimeInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: app/Services/TaskLifecycleService.php

		-
			message: '#^Instanceof between string and BackedEnum will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Services/TaskLifecycleService.php

		-
			message: '#^Offset ''assignee_id'' on non\-empty\-array on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Services/TaskLifecycleService.php

		-
			message: '#^Using nullsafe property access on non\-nullable type App\\ValueObjects\\TaskOperationContext\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/TaskLifecycleService.php

		-
			message: '#^Call to method Illuminate\\Support\\Collection\<int,App\\Models\\User\|null\>\:\:isEmpty\(\) will always evaluate to false\.$#'
			identifier: method.impossibleType
			count: 1
			path: app/Services/TaskNotificationDispatcher.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/TaskTimelineService.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/TaskTimelineService.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Carbon\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/TaskViewData.php

		-
			message: '#^Call to function is_array\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Services/WebPushDestinationValidator.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: app/Support/TaskDeadlineRules.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: app/TaskTransitions/ChangeTaskDeadline.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/TaskTransitions/ReopenApprovedTask.php
